# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Build Artefakte
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Mypy / Ruff / Sonstige Tools
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/
